
<h4><u><%=@project.name %></u> - <%=@project.description %></h4>
<%= link_to 'Edit Project', edit_project_path %> |
<%= link_to 'Destroy Project', project_path, method: :delete, data: {confirm: "Are you sure?"} %>

<hr>

<h5>Employee's Working on Project:</h5>

<ul>
  <% @project.users.each do |employee| %>
    <li><i><%= employee.name%></i></li>
  <% end %>  
</ul>

<hr>

<h5> Materials Needed for Project </h5>

<%= link_to 'Add Material', new_project_project_material_path(@project) %>

<ul>
  <% @materials_count.each do |key, value| %>
    <li><i><%= key.first %></i> | Quantity: <%= value %> |

    <%= link_to 'Remove Material', project_project_material_path(@project, key.last), :method => :delete %>

    </li> 
  <% end %>
</ul>